name: Documentation

on:
  - pull_request
  - push

jobs:
  build-docs:
    name: Build Docs

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Initialize .env
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4
          coverage: none

      - name: Run docker/initialize
        run: php docker/initialize

      - name: Build API docs
        run: docker/docs run --rm sami build

      - name: Build user docs
        run: docker/docs run --rm sphinx build

      - name: Upload docs artifact
        uses: actions/upload-artifact@v2
        with:
          name: generated-docs
          path: docs/build/html/

  deploy-docs:
    name: Deploy Docs

    needs: build-docs

    runs-on: ubuntu-latest

    if: ${{ github.event_name != 'pull_request' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/devel') }}
    steps:
      - name: Download docs artifact
        uses: actions/download-artifact@v2
        with:
          name: generated-docs
          path: docs

      - name: List files
        run: find -type f

##      - name: Deploy docs on gh-pages
##        uses: peaceiris/actions-gh-pages@v3.7.0-8
##        with:
##          github_token: ${{ secrets.GITHUB_TOKEN }}
##          publish_dir: ./docs/build/html/
##          destination_dir: ./docs

